@font-face {
    font-family: 'GUERRILLA Normal';
    src: url('GUERRILLA-Normal.woff2') format('woff2'),
        url('GUERRILLA-Normal.woff') format('woff'),
        url('GUERRILLA-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

